<section id="courses">
  <div class="container">
    <div class="text-center">
      <h3>Courses</h3>
      <hr class="style12">
      <br>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>

            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/01/Kali-Linux-Commands.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-dark">Enroll Now</a>
              <a href="#" class="btn btn-outline-dark">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next z"></div>
      <div class="swiper-button-prev z1"></div>
    </div>
  </div>

<div class="text-center mt-4">
  <a class="btn btn-dark"href="/allCourses/">All Courses</a>
</div>

</section>
