<footer class="bg-dark footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-white footer-text">
        One of three columns
      </div>
      <div class="col-4 text-white footer-text text-white">
        <button type="button" class="btn btn-social-icon btn-facebook btn-rounded bg-light"><i class="fa fa-facebook  bg-light"></i></button> <button type="button" class="btn btn-social-icon btn-youtube btn-rounded bg-light "><i class="fa fa-youtube bg-light"></i></button> <button type="button" class="btn btn-social-icon btn-twitter btn-rounded bg-light"><i class="fa fa-twitter bg-light"></i></button> <button type="button" class="btn btn-social-icon btn-dribbble btn-rounded bg-light"><i class="fa fa-dribbble bg-light"></i></button> <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded bg-light"><i class="fa fa-linkedin bg-light"></i></button> <button type="button" class="btn btn-social-icon btn-instagram btn-rounded bg-light"><i class="fa fa-instagram bg-light"></i></button>
      </div>
      <div class="col-4 text-white footer-text">
        One of three columns
      </div>
    </div>
  </div>
</footer>
