<header class="h-custom">
  <div class="container">
    <div class="text">
      <p class="text-white">Heading</p>
    </div>
    <div class="text2">
      <p class="text-white">short description</p>
    </div>
    <div>
      <a class="btn btn-outline-light btn-lg js-scroll-trigger" href="#service">Learn more</a>
    </div>
  </div>
</header>
